@import url('./AvenirNext-Regular.ttf');

:root {
    --CBoka: #FF914D;
}
body {
    background: #FFFFFF;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--CBoka);
}

li {
    list-style-type: none;
}

.nav-0 {
    display: flex;
    background: #F1F2F4;
    width: 100%;
    

}

/* .dropdown-toggle{
    
} */
.nav-link {
    display: inline;
}

.social {
    width: 20%;
    margin: 0;
    padding-left: 5%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.social li a {
    color: #17505C;
}

.social span {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #17505C;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.help {
    margin-right: 5%;
    width: 20%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.help li a {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #17505C;
}

.HrNav {
    width: 0px;
    height: 16px;
    border: 1px solid #17505C;
    margin: auto;
}

header{
    width: 100%;
    height: 7.75rem;
    
}

.logo-boka {
    
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;

}
.Ellipse10{
    width: 5.25rem;
    height: 3rem;
    padding: 0.5rem;
    background: rgba(237, 243, 244, 0.8);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
.Ellipse10 button{
    border: 0 !important;
}
.Ellipse10 button i{    
   font-size: 1.25rem;
   padding: 0.25rem;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.forame16{
    width: 21.813rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
align-items: center;
padding: 0px;


}
.modal{
    left: auto;
    right: 0;

}
.modal-boka{
    width: 42.375rem;
   
    
    
}
.modal-header{
    display: block;
    
}
.modal-header h1{
    padding: 8px;
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    text-transform: capitalize;
    color: #02323D;
}
.modal-dialog{
    max-width: 0 !important;
    margin: 0 !important;
    margin-right: auto !important;
}
.modal-content{
    width: 42.375rem;
    height: 100%;

}
.modal-content{
 margin: 0 !important;
}
.bth-boka1{
    color: #02323D;
    margin: 0 !important;
    font-size: 1.5rem;
    margin-left: 1.5rem;
}
.modal-header p{
    
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #17505C;
}
.Each{
    margin-left: 3.75rem;
    color: var(--CBoka) !important;
}
.Each time{
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    
    text-align: right;
    letter-spacing: -0.04em;
    color: #02323D;
}

.modal-body section article h1 , .dolar{
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    color: #02323D;

}
.button-s{
    width: 1.875rem;
    height: 1.875rem;
    background: #E3ECEE;
    border-radius: 4px;
    border: 0;
}
.button-m{
    width: 1.875rem;
    height: 1.875rem;
    background: initial;
    border: none;
   
}
.Manicure{
margin-top: 1.8rem;    
box-sizing: border-box;
padding: 16px 24px 16px 16px;
width: 38.875rem;
height: 15.625rem;
background: #FFFFFF;
border: 1px solid #EDF3F4;
border-radius: 4px;
}
.Manicure h1 {
    font-family: 'Avenir Next';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
margin-bottom: 0 !important;
text-transform: capitalize;
color: #02323D;
}
.Mon p {
    font-family: 'Avenir Next';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
color: #02323D;
opacity: 0.6;
}

.Cheyenne{
    width: 16.063rem;
    height: 2.625rem;
    display: flex;
    justify-content: space-between;
    
}
.Cheyenne img{
    margin-top: 0.4rem;
    margin-right: 0.625rem;
    
}
.go-to{
    width: 100%;
    background-color: var(--CBoka);

}
.go-to button{
    height: 3rem;
    font-family: 'Avenir Next';
font-style: normal;
font-weight: 600;
font-size: 18px;
color: #000000;
}


#search-pop:hover {


    background-color: #ffb384;


}

.dropdown {
    position: relative;
    z-index: 5;
}

.start {
    
    width: 100%;
    height: 38.188rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 56.2%), url(img/bg2.jpg);
    --bs-card-inner-border-radius: 0 !important;

}

.searchArtic {
    display: flex;
    width: 58.5rem;
    height: 3.75rem;
    margin: auto;
    filter: drop-shadow(0px 7px 24px rgba(23, 80, 92, 0.16));
    border-radius: 8px;
}

.Reviews {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #17505C;
    padding-left: 10px;

}

.form-check-input:checked {
    background-color: var(--CBoka) !important;
    border: 0;
}

.form-check-input:focus,
.label::after,
label.form-check-label:focus,
.form-check-input::after,
.form-check-input:not(:disabled):not(.disabled):active:focus {
    color: black;
    box-shadow: 0 0 0 0.1rem var(--CBoka) !important;
}

.titel-1 {
    max-width: 702px;
    margin: auto;
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.2em;
    color: var(--CBoka);
}
.title{
    padding-top: 8.75rem;
}
.start h1 {
    margin: auto;
    margin-bottom: 2rem ;
    max-width: 650px;
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    color: #02323D;
}

.search-1 {
    width: 31.5rem;
    background: #Ffffff;
    border-radius: 8px;
    list-style-type: none;
    display: flex;
}

.search-1 li a {

    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #02323D;


}

.slider-product {
    width: 85%;
    margin: auto;
    margin-top: 120px;
}


.form-check input:checked~.checkmark {
    background-color: #FF914D;
}

.search-1 li {
    margin: auto;

}

.HrSearch-1 {
    height: 34px;
    width: 0px;
    border: 1px solid #A4C1C8;
    margin: auto;
}

.search-2 {
    width: 18rem;

}

.fa-star {
    color: #FF914D;
}

.star-rating {

    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5em;
    justify-content: space-around;
    padding: 0 .2em;
    text-align: center;
    width: 5em;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
}

.star-rating :checked~label {
    color: #FF914D;
}

.star-rating label:hover,
.star-rating label:hover~label {
    color: #FF914D;
}



.search-2 input {

    width: 100%;
    height: 60px;
    background: #FFFFFF;
    border-radius: 8px;
}

.autoplay {
    width: 70%;
    margin: auto;
}

.autoplay-1 {
    margin-top: 2.25rem;
    align-items: center;
    padding: 0px;
    width: 141px;
    height: 124px;
    text-align: center;

}

.autoplay-1 img {
    margin: auto;
    width: 86px;
    height: 86px;
    border-radius: 56px;

}

.autoplay-0 {
    width: 100%;
    margin-bottom: 7.5rem;
}

.Vie-l-r {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    position: relative;
    top: 120px;
}

.Vie-l,
.Vie-r {

    background: none;
    color: #17505C;
    border: none;

}

.Vie-l-r i {
    font-size: large;
}

.titel-2 {
    width: 30.625rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 2.25rem;
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #02323D;
   

}

.titel-2 a {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    color: #02323D;
}

.titel-2 a:hover {
    font-weight: 800;
    color: #FF914D;

}



/* footer */
footer {
    width: 100%;
    background: #F9F9F9;
}

.Footer-metro {
    width: 80rem;
    margin: auto;
    margin-top: 7.5rem;
}

footer h5 {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #02323D;
}

footer p {
    text-align: start;
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #6B7C80;

}

footer a {

    text-decoration: none;
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #6B7C80;
}

.Footer-metro li {
    text-align: start;
    width: 100% !important;
    margin-bottom: 8px;
}

.contact-information {
    text-align: start;
}

.copy {
    text-align: start;
    margin-left: 150px;
    margin-top: 43px;
}

.foll {
    text-align: start;
}

.row {
    margin-right: 0 !important;
}

.contact-information {
    text-align: start;
}

.soshl {
    width: 190px;
    display: flex;
    justify-content: space-between;
}

.soshlDborder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.01);
}

.soshlDborder img {
    margin: 30% 30%;
}

#img10 {
    margin: 30% 40%;
}

.soshlDborder:hover {
    background: #f09861;
    ;
}

.Copyright {
    width: 80rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.Copyright ul {
    width: 60%;
    display: flex;
    justify-content: space-between;

}

.Copyright ul li {
    width: 20% !important;

}

.OpenTable {
    width: 80rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.OpenTable p {
    max-width: 409px;

}




#View-all {
    background: #Ffffff;
    border: none;
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FF914D;

}

.Vie-all
{
    background: #Ffffff;
    border: none;
    color: #17505C;

}

.Vie-alll {
    background: #Ffffff;
    border: none;
    color: #17505C;

}

.slick-arrow.slick-hidden {
    display: inline;
}

.slick-dots {
    display: none !important;
}

